.white-text { color: white; }
.black-text { color: black; }

.white { background-color: white; }
.primary-color { background-color: $primary-color; }
.primary-color-darken-1 { background-color: $primary-color-darken-1; }
.primary-color-darken-2 { background-color: $primary-color-darken-2; }

.primary-color-text { color: $primary-color; }
.primary-color-text-darken-1 { color: $primary-color-darken-1; }
.primary-color-text-darken-2 { color: $primary-color-darken-2; }

.grey-text { color: $grey; }
.grey-text-darken-1 { color: $grey-darken-1; }
.grey-text-darken-2 { color: $grey-darken-2; }
.grey-text-darken-3 { color: $grey-darken-3; }
.grey-text-darken-4 { color: $grey-darken-4; }
.grey-text-darken-5 { color: $grey-darken-5; }

.facebook-text-color { color: $facebook-color; }
.insta-text-color { color: $insta-color; }
.youtube-text-color { color: $youtube-color; }